<style>

#wrapper {
	border: 1px solid green;
}

.sidebar-nav {
	border: 1px solid orange;
}

#sidebar-wrapper {
	border: 1px solid yellow;
	width: 250px;
    z-index: 1000;
    position: fixed;
    left: 250px;
    /*width: 0;*/
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: white;
/*    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;*/
}

#page-content-wrapper {
    width: 100%;
    left: 250px;
    position: absolute;
    padding: 15px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#sidebar-header {
    font-family: helvetica;
    font-size: 1.5em;
}
</style>

<!-- This is the SideBar, where we will show the User's etablishments and/or Favorited establishments -->
<div id="wrapper">
	<div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <% if @user_establishments %>
                <h4 id="sidebar-header"> Your Establishments </h4>
            	<% @user_establishments.each do |establishment| %>
            		<li>
            			<span id="bold-link"> <%= link_to establishment.name, establishment %> </span>
            		</li>
            		<p>
			           <%= establishment.address %>
			           <%= establishment.city %>
			           <%= establishment.state %> </br>
			           <% if establishment.deals.where(current: true).size > 0 %>
				           <%= establishment.deals.where(current: true).size %> Current Deals </br>
				       <% else %>
				       	  0 Current Deals </br>
				       <% end %>
			           <% if establishment.deals.where(permanent: true).size > 0 %>
				           <%= establishment.deals.where(permanent: true).size %> Permanent Deals </br>
			       	   <% else %>
			       	   	  0 Permanent Deals </br>
			       	   <% end %>
                        <hr>
			       </p>
            	<% end %>
            <% end %>
            <% if @favorite_establishments %>
                <h4 id="sidebar-header"> Favorite Establishments </h4>
                <% @favorite_establishments.each do |establishment| %>
                    <li>
                        <span id="bold-link"><%= link_to establishment.name, establishment %></span>
                    </li>
                    <p>
                       <%= establishment.address %>
                       <%= establishment.city %>
                       <%= establishment.state %> </br>
                       <% if establishment.deals.where(current: true).size > 0 %>
                           <%= establishment.deals.where(current: true).size %> Current Deals </br>
                       <% else %>
                          0 Current Deals </br>
                       <% end %>
                       <% if establishment.deals.where(permanent: true).size > 0 %>
                           <%= establishment.deals.where(permanent: true).size %> Permanent Deals </br>
                       <% else %>
                          0 Permanent Deals </br>
                       <% end %>
                        <hr>
                   </p>
                <% end %>
            <% else %>
                    <li> You have no establishments </li>
            <% end %>
        </ul>
	</div>
</div>

<!-- This is where all the Deals will be listed -->
<div id="page-content-wrapper">
	<div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <!-- <h1>Simple Sidebar</h1> -->
                <div class="homepage-table-container">
                  <% @deals.each do |deal| %>
                    <div class="featurette">
                        <h3 class="featurette-heading"> 
                          <span id="bold-large-link"><%= link_to deal.keyword, deal %></span>
                          <span id="footnote-text"> (<%= deal.updated_at.strftime("%a. %m/%d/%y at %I:%M%p")%>) </span>
                        </h3>
                        <div class="field">
                          <% if deal.establishment %>
                            <p> by <span id="bold-link"> <%= link_to deal.establishment.name, deal.establishment %></span> </p>
                          <% end %>
                          <%= deal.description %>
                          <% if deal.current %>
                            <p>limited time only </p>
                          <% elsif deal.permanent %>
                            <p> every week! </p>
                          <% end %>
                        </div>
                        <hr class="featurette-divider"/>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
</div>