<!-- = simple_form_for(@user, html: { class: 'form-horizontal' }) do |form| -->

<div class="new-form">
  <h1 id="center-text"> what's going on </h1>
  <%= simple_form_for(@deal, html: { class: 'form-horizontal' }) do |f| %>
    <% if @deal.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

        <ul>
        <% @deal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="featurette">
      <!-- <img class="featurette-image pull-right" src="../assets/chrome.png"> -->
      <h2 class="featurette-heading" style="color:red;">give it a name</h2>
        <div class="field">
          <!-- <%= f.label :keyword %><br> -->
          <%= f.text_field :keyword %>
        </div>
      <p class="lead">what is it? </br>
        <%= f.text_area :description %>
      </p>
    </div>

    <div class="featurette">
      <!-- <img class="featurette-image pull-right" src="../assets/chrome.png"> -->
      <h2 class="featurette-heading" style="color:red;">Deal Status</h2>
      <div class="field">
        <%= f.label "Click here if this is a temporary deal" %>
        <%= f.check_box :current %></br>
        <%= f.label "Click here if this is an ongoing special" %>
        <%= f.check_box :permanent %></br>
      </div>
    </div>

    <div class="featurette">
      <!-- <img class="featurette-image pull-right" src="../assets/chrome.png"> -->
      <h2 class="featurette-heading" style="color:red;">Active?</h2>
      <div class="field">
        <%= f.label "Click here if you want all users to see this deal" %>
        <%= f.check_box :active %></br>
      </div>
    </div>

    <div class="featurette">
      <!-- <img class="featurette-image pull-right" src="../assets/chrome.png"> -->
      <h2 class="featurette-heading" style="color:red;">Establishment</h2>
      <div class="field">
          <%= f.collection_select :establishment, Establishment.all, :id, :name %>
      </div>
    </div>

    <div class="actions" id="center-text">
      <%= f.submit %>
    </div>
  <% end %>
</div>
