<!-- = simple_form_for(@user, html: { class: 'form-horizontal' }) do |form| -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>


<div class="new-form">
  <h1 id="center-text"> what's going on </h1>
  <%= simple_form_for(@deal, html: { class: 'form-horizontal' }) do |f| %>
    <% if @deal.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

        <ul>
        <% @deal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="featurette">
      <!-- <img class="featurette-image pull-right" src="../assets/chrome.png"> -->
      <h2 class="featurette-heading" style="color:red;">give it a name</h2>
        <div class="field">
          <%= f.text_field :keyword %>
        </div>
      <h2 class="featurette-heading" style="color:red;">what is it?</h2>
      <!-- <p class="lead">what is it? </br> -->
        <%= f.text_area :description %>
      </p>
    </div>

    <div class="featurette">
      <!-- <img class="featurette-image pull-right" src="../assets/chrome.png"> -->
      <h2 class="featurette-heading" style="color:red;">Deal Status</h2>
      <div class="field">
        <%= f.label "Click here if this is a temporary deal" %>
        <%= f.check_box :current %></br>
        <%= f.label "Click here if this is an ongoing special" %>
        <%= f.check_box :permanent %></br>
      </div>
    </div>

    <div class="featurette">
      <!-- <img class="featurette-image pull-right" src="../assets/chrome.png"> -->
      <h2 class="featurette-heading" style="color:red;">Active?</h2>
      <div class="field">
        <%= f.label "Click here if you want all users to see this deal" %>
        <!-- <%= f.check_box :active %></br> -->
        <%= f.check_box :active, data: {'toggle' => "toggle"}, class: 'current-toggle' %>
      </div>
    </div>

    <div class="featurette">
      <!-- <img class="featurette-image pull-right" src="../assets/chrome.png"> -->
      <h2 class="featurette-heading" style="color:red;">Establishment</h2>
      <div class="field">
          <%= f.collection_select :establishment, Establishment.all, :id, :name %>
      </div>
    </div>

    <div class="actions" id="center-text">
      <%= f.submit %>
    </div>
  <% end %>
</div>



<script>

  // Toggles
  // $(function() {
  //   // $('#toggle-one').bootstrapToggle();
  //   // $('#toggle-one').bootstrapToggle('on');
    $('.current-toggle').bootstrapToggle({
      on: 'Active',
      off: 'Inactive'
    });
  // })

</script>
