
<style>

#left-nav.col-md-3{
  /*border-left: 1px solid gray;*/
  border-right: 1px solid gray;
  /*border-bottom: 1px solid gray;*/
}

.col-md-6 {
  /*border: 1px solid orange;*/
}

#right-nav.col-md-3 {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  /*margin-right: 1em;*/
  border-radius: 3px;
}

</style>


<!-- This is the LEFT SideBar, where we will show the User's etablishments and/or Favorited establishments -->

<div class="container-fluid">
    <div class="col-md-3" id="left-nav">
      <h4 class="important-header" id="center-text"> Featured Deals </h4>
      <% @featured_deals.each do |deal| %>
        <div id="details">
          <span id="bold-large-link"><%= link_to deal.keyword, deal %></span>
            <% if user_signed_in? and current_user.favorited_deals.include? deal %>
              <span id="bold-large-link-glyph">
                <%= link_to ('<span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>').html_safe,   favorite_deal_path(deal, type: "unfavorite"), method: :put %>
                  <!-- <span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> -->
              </span>
            <% elsif user_signed_in? and !current_user.favorited_deals.include? deal %>
              <span id="bold-large-link-glyph">
                <%= link_to ('<span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>').html_safe,   favorite_deal_path(deal, type: "favorite"), method: :put, style: 'color:grey;' %>
                  <!-- <span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> -->
              </span>

            <% end %>
            <% if deal.establishment %>
              <p> by
                <span id="bold-link"><%= link_to deal.establishment.name, deal.establishment %> </span>
                <span id="footnote-text"><% deal.updated_at.strftime("%a. %m/%d/%y at %I:%M%p")%></span>
                <% if deal.weekday == 'Today' or deal.weekday == Time.now.strftime("%A") %>
                  </br> Today (<%= deal.weekday %>)!
                <% else %>
                  </br>On <%= deal.weekday %>'s
                <% end %>
              </p>
            <% end %>
          </div>
          <hr>
      <% end %>
    </div>

    <!-- This is where all the Deals will be listed -->
    <div class="col-md-6" id="middle">
              <!-- <h1>Simple Sidebar</h1> -->
      <h1 class="important-header" id="">All Deals</h1>
      <% @deals.each do |deal| %>
        <div class="featurette">
            <h3 class="featurette-heading">
              <span id="bold-large-link"><%= link_to deal.keyword, deal %></span>
                <% if user_signed_in? and current_user.favorited_deals.include? deal %>
                  <span id="bold-large-link-glyph">
                    <%= link_to ('<span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>').html_safe,   favorite_deal_path(deal, type: "unfavorite"), method: :put %>
                      <!-- <span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> -->
                    </a>
                  </span>
                <% elsif user_signed_in? and !current_user.favorited_deals.include? deal  %>
                  <span id="bold-large-link-glyph">
                    <%= link_to ('<span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>').html_safe,   favorite_deal_path(deal, type: "favorite"), method: :put, style: 'color:grey;' %>
                      <!-- <span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> -->
                    </a>
                  </span>
                <% end %>
            </h3>


            <div class="field">
              <% if deal.establishment %>
                <p> by
                  <span id="bold-link"> <%= link_to deal.establishment.name, deal.establishment %></span>
                  <span class="address-oneliner">
                     <%= deal.establishment.address %>
                     <%= deal.establishment.city %>
                     <%= deal.establishment.state %>
                     <%= deal.establishment.zipcode %>
                  </span> </br>
                  <span id="footnote-text"> <% deal.updated_at.strftime("%a. %m/%d/%y at %I:%M%p")%> </span> <!-- Not Displaying -->
                </p>
              <% end %>

              <%= deal.description %> </br>
              <%= deal.start_time.strftime("%I:%M%p") if deal.start_time %> until <%= deal.end_time.strftime("%I:%M%p") if deal.end_time %>

              <p>
                Favorited by <%= deal.get_likes %> user(s) |

                <% if deal.temporary? %>
                  <span style="color:green;"> This is a temporary deal only. Hurry over! </span>
                <% else %>
                  <span style="color:black;"> This is permanently offered bc we love you </span>
                <% end %>
                <% if deal.weekday == 'Today' or deal.weekday == Time.now.strftime("%A") %>
                  </br>Today!
                <% else %>
                  </br>On <%= deal.weekday %>'s
                <% end %>
              </p>
            </div>

            <hr class="featurette-divider"/>
        </div>
      <% end %>
    </div>



  <!-- This is the RIGHTSideBar, where we will show the User's etablishments and/or Favorited establishments -->
    <div class="col-md-3" id="right-nav">
      <h4 class="important-header" id="center-text"> Today's Deals </h4>
        <% @todays_deals.each do |deal| %>
          <div id="details">
            <span id="bold-large-link"><%= link_to deal.keyword, deal %></span>
              <% if user_signed_in? and current_user.favorited_deals.include? deal %>
                <span id="bold-large-link-glyph">
                  <%= link_to ('<span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>').html_safe,   favorite_deal_path(deal, type: "unfavorite"), method: :put %>
                    <!-- <span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> -->
                </span>
              <% elsif user_signed_in? and !current_user.favorited_deals.include? deal  %>
                <span id="bold-large-link-glyph">
                  <%= link_to ('<span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>').html_safe,   favorite_deal_path(deal, type: "favorite"), method: :put, style: 'color:grey;' %>
                    <!-- <span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> -->
                </span>

              <% end %>
              <% if deal.establishment %>
                <p> by
                  <span id="bold-link"><%= link_to deal.establishment.name, deal.establishment %> </span>
                  <span id="footnote-text"><% deal.updated_at.strftime("%a. %m/%d/%y at %I:%M%p")%></span>
                  <% if deal.weekday == 'Today' or deal.weekday == Time.now.strftime("%A") %>
                    </br> Today!
                  <% else %>
                    </br>On <%= deal.weekday %>'s
                  <% end %>
                </p>
              <% end %>
            </div>
            <hr>
        <% end %>
    </div>

</div>
