<p id="notice"><%= notice %></p>

<h2 class="featurette-heading" id="center-text" style="color:red;">this is a deal!</h2>

<div class="new-wider-form">
    <div class="featurette">
      <div class="field">
		<% if @deal.establishment %> 
		<p style="display:inline;">
		   where? 
		   <div id="details"> <%= link_to @deal.establishment.name, establishment_path(@deal.establishment) %> </div>
		</p>
	   <% end %>
		<p style="display:inline;">
		  what is it?
		  <div id="details"><%= @deal.keyword %></div>
		</p>
		<p style="display:inline;">
		  details?
		  <div id="details"><%= @deal.description %></div>
		</p>
		<p style="display:inline;">
		  temporary?
		  <div id="details"><%= @deal.current %></div>
		</p>
		<p style="display:inline;">
		  permanent?
		  <div id="details"><%= @deal.permanent %> </div>
		</p>
	  </div>
	  <%= link_to 'Edit', edit_deal_path(@deal) %> |
	  <%= link_to 'Back', deals_path %>
	</div>
</div>


