<p id="notice"><%= notice %></p>

<h2 class="featurette-heading" id="center-text" style="color:red;">this is a deal!</h2>

<div class="new-wider-form">
    <div class="featurette">
      <div class="field">
		<h3 style="display:inline;">
		  <div id="details"> 
		  	<span id="bold-large-link"><%= @deal.keyword %> </span> 
		  	<span id="footnote-text">(<%= @deal.updated_at.strftime("%a. %m/%d/%y at %I:%M%p")%>) </span>
		  </div>
		  <hr>
		</h3>
		<p style="display:inline;"> 
		   <div id="details"> <span id="bold-link"> <%= link_to @deal.establishment.name, establishment_path(@deal.establishment) %> </span></div>
		</p>

		<p>
		 <%= @deal.establishment.address %> <%=@deal.establishment.city %> <%=@deal.establishment.zipcode %>
		</p>

		<hr>

		<p style="display:inline;">
		  <div id="details"><%= @deal.description %></div>
		</p>

		<% if @deal.permanent %>
			<p> This is a permanent deal at this location!</p>
		<% elsif @deal.current %>
			<p> This is a temporary special! Get here now!</p>
		<% else %>
			<p> This deal is currently not offered. </p>
		<% end %>

		
		<div class="testing" style="display:none;"> 
			(For Testing) </br>
			<p style="display:inline;">
			  temporary?
			  <div id="details"><%= @deal.current %></div>
			</p>

			<p style="display:inline;">
			  permanent?
			  <div id="details"><%= @deal.permanent %> </div>
			</p>
		</div>

	  </div>
	  <%= link_to 'Edit', edit_deal_path(@deal) %> |
	  <%= link_to 'Back', deals_path %>
	</div>
</div>


