
<!-- <div class="new-wider-form"> -->
<div class="show-establishment-box">
      <div class="field">
		<h3 style="display:inline;">
		  <div id="details"> 
		  	<span id="bold-large-link"><%= @deal.keyword %> </span>
	            <% if current_user.favorited_deals.include? @deal %> 
	              <span id="bold-large-link-glyph">
	                <%= link_to ('<span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>').html_safe,   favorite_deal_path(@deal, type: "unfavorite"), method: :put %>
	                </a>
	              </span>
	            <% else %>
	              <span id="bold-large-link-glyph">
	                <%= link_to ('<span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>').html_safe,   favorite_deal_path(@deal, type: "favorite"), method: :put, style: 'color:grey;' %>
	                </a>
	              </span>
	            <% end %>
				<span id="footnote-text">(<%= @deal.updated_at.strftime("%a. %m/%d/%y at %I:%M%p")%>) </span>
		  </div>
		</h3>

<!-- 	        <p>
	          <%= link_to "favorite",   favorite_deal_path(@deal, type: "favorite"), method: :put %> </br>
	          <%= link_to "unfavorite",   favorite_deal_path(@deal, type: "unfavorite"), method: :put %>
	        </p> -->	        

		<p style="display:inline;"> 
		</br> at
		   <div id="details"> 
		   	<span id="bold-link"> <%= link_to @deal.establishment.name, establishment_path(@deal.establishment) if @deal.establishment %> </span>
		   </div>
		</p>

		<p>
			 <%= @deal.establishment.address if @deal.establishment %> <%=@deal.establishment.city if @deal.establishment%> 
			 <%=@deal.establishment.zipcode if @deal.establishment %>
		</p>

		<hr>

		<p style="display:inline;">
		  <div id="details"><%= @deal.description %></div>
		</p>

		<p>
		  <% if @deal.temporary? %>
			  <%= @deal.weekday%>! 
			  <div style="color:green;"> This is a temporary deal only. Hurry over! </div>
			<% else %>
			  <div style="color:black;"> This is permanently offered bc we love you </div>
			<% end %>
		</p>

		
		<div class="testing" style="display:none;"> 
			(For Testing) </br>
			<p style="display:inline;">
			  temporary?
			  <div id="details"><%= @deal.temporary %></div>
			</p>

			<p style="display:inline;">
			  permanent?
			  <div id="details"><%= @deal.permanent %> </div>
			</p>
		</div>
		
	  </div>

      <div id="center-info">

		  Favorited by <%= @deal.get_likes %> users </br>

		  <% if current_user.establishments.include? @deal.establishment  %> 
			  <%= link_to ('<span style="" class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>').html_safe, deals_path %> | 
			  <%= link_to ('<span style="" class="glyphicon glyphicon-edit" aria-hidden="true"></span>').html_safe, edit_deal_path(@deal) %> |
	          <%= link_to ('<span style="" class="glyphicon glyphicon-trash" aria-hidden="true"></span>').html_safe, @deal, method: :delete, data: { confirm: 'Are you sure?' } %> 
		  <% end %>
	  </div>
</div>


