<p id="notice"><%= notice %></p>

<h2 class="featurette-heading" id="center-text" style="color:red;">this is a deal!</h2>

<div class="new-wider-form">
    <div class="featurette">
      <div class="field">
		<h3 style="display:inline;">
		  <div id="details"> 
		  	<span id="bold-large-link"><%= @deal.keyword %> </span>
	            <% if @current_user.favorited_deals.include? @deal %> 
	              <span id="bold-large-link-glyph">
	                <%= link_to ('<span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>').html_safe,   favorite_deal_path(@deal, type: "unfavorite"), method: :put %>
	                </a>
	              </span>
	            <% else %>
	              <span id="bold-large-link-glyph">
	                <%= link_to ('<span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>').html_safe,   favorite_deal_path(@deal, type: "favorite"), method: :put, style: 'color:grey;' %>
	                </a>
	              </span>
	            <% end %>
		  </div>
		</br>
<!-- 	        <p>
	          <%= link_to "favorite",   favorite_deal_path(@deal, type: "favorite"), method: :put %> </br>
	          <%= link_to "unfavorite",   favorite_deal_path(@deal, type: "unfavorite"), method: :put %>
	        </p> -->
		</h3>
		<span id="footnote-text">(<%= @deal.updated_at.strftime("%a. %m/%d/%y at %I:%M%p")%>) </span>

		<p style="display:inline;"> 
		</br> at
		   <div id="details"> 
		   	<span id="bold-link"> <%= link_to @deal.establishment.name, establishment_path(@deal.establishment) %> </span>
		   </div>
		</p>

		<p>
		 <%= @deal.establishment.address %> <%=@deal.establishment.city %> <%=@deal.establishment.zipcode %>
		</p>

		<hr>

		<p style="display:inline;">
		  <div id="details"><%= @deal.description %></div>
		</p>

		<p>
		  <% if @deal.temporary? %>
			  <div style="color:green;"> This is a temporary deal only. Hurry over! </div>
			<% else %>
			  <div style="color:black;"> This is permanently offered bc we love you </div>
			<% end %>
		</p>

		
		<div class="testing" style="display:none;"> 
			(For Testing) </br>
			<p style="display:inline;">
			  temporary?
			  <div id="details"><%= @deal.temporary %></div>
			</p>

			<p style="display:inline;">
			  permanent?
			  <div id="details"><%= @deal.permanent %> </div>
			</p>
		</div>
		
	  </div>

	  Favorited by <%= @deal.get_likes %> users </br>
	  </br>
	  </br>
	  
	  <hr>
	  <%= link_to 'Edit', edit_deal_path(@deal) %> |
	  <%= link_to 'Back', deals_path %>
	</div>
</div>


