<div class="semi-background">
  <div class="show-establishment-box">
    <div id="center-text">
      <h2 id="bold-large-link"> 
        <% link_to ('New Establishment <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>').html_safe, new_establishment_path %>
      </h2>
    </div>

    <%= form_tag establishments_path, :method => 'get' do %>
      <p id="center-text">
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search For Places", :name => nil %>
      </p>
    <% end %>
  </div>
</div>

<div class="left-form-container">
<!-- <div class="my-table-container"> -->
  <h1 class="important-header" id="center-text">All Establishments</h1>
  <% @establishments.each do |establishment| %>
    <div class="featurette">

        <h3 class="featurette-heading" style=""> 
          <span id="bold-large-link"><%= link_to establishment.name, establishment %></span>
          <% if user_signed_in? and current_user.favorites.include? establishment %> 
            <span id="bold-large-link-glyph">
              <%= link_to ('<span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>').html_safe,   favorite_establishment_path(establishment, type: "unfavorite"), method: :put %>
                <!-- <span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> -->
            </span>
          <% elsif user_signed_in? and !current_user.favorites.include? establishment %>
            <span id="bold-large-link-glyph">
              <%= link_to ('<span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>').html_safe,   favorite_establishment_path(establishment, type: "favorite"), method: :put, style: 'color:grey;' %>
                <!-- <span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> -->
            </span>
          <% end %>
        </h3>
           <%= establishment.address %>
           <%= establishment.city %>
           <%= establishment.state %>
           <%= establishment.zipcode %> </br> </br>

        <div class="field">
          <p>
           <%= establishment.key %>
          </p>
          <p>
           <%= establishment.total_active_deals %> active deals | 
           Favorited by <%= establishment.total_users_favorited %> user(s)   
          </p>

        <td><% link_to 'Show', establishment %></td>
        <td><% link_to 'Edit', edit_establishment_path(establishment) %></td>
        </div>
        <hr class="featurette-divider"/>
    </div>
  <% end %>
</div>



<div class="right-form-container">
<!-- <div class="my-table-container"> -->
  <h1 class="important-header" id="center-text">Newly Added</h1>
  <% @new_establishments.each do |establishment| %>
    <div class="featurette">

        <h3 class="featurette-heading" style=""> 
          <span id="bold-large-link"><%= link_to establishment.name, establishment %></span>
          <% if user_signed_in? and current_user.favorites.include? establishment %> 
            <span id="bold-large-link-glyph">
              <%= link_to ('<span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>').html_safe,   favorite_establishment_path(establishment, type: "unfavorite"), method: :put %>
                <!-- <span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> -->
            </span>
          <% elsif user_signed_in? and !current_user.favorites.include? establishment  %>
            <span id="bold-large-link-glyph">
              <%= link_to ('<span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>').html_safe,   favorite_establishment_path(establishment, type: "favorite"), method: :put, style: 'color:grey;' %>
                <!-- <span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> -->
            </span>
          <% end %>
        </h3>
           <%= establishment.address %>
           <%= establishment.city %>
           <%= establishment.state %>
           <%= establishment.zipcode %> </br> </br>

        <div class="field">
          <p>
           <%= establishment.key %>
          </p>
          <p>
           <%= establishment.total_active_deals %> active deals | 
           Favorited by <%= establishment.total_users_favorited %> user(s)   
          </p>

        <td><% link_to 'Show', establishment %></td>
        <td><% link_to 'Edit', edit_establishment_path(establishment) %></td>
        </div>
        <hr class="featurette-divider"/>
    </div>
  <% end %>
</div>
