<p id="notice"><%= notice %></p>


<!-- Showing the Establishment details -->
<div class="new-form">
    <div class="featurette">
      
      <h2 class="featurette-heading" style="">
        <span id="bold-large-link"><%= @establishment.name %></span>
          <% if @current_user.favorites.include? @establishment %> 
            <span id="bold-large-link-glyph">
              <%= link_to ('<span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>').html_safe,   favorite_establishment_path(@establishment, type: "unfavorite"), method: :put %>
                <!-- <span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> -->
              </a>
            </span>
          <% else %>
            <span id="bold-large-link-glyph">
              <%= link_to ('<span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>').html_safe,   favorite_establishment_path(@establishment, type: "favorite"), method: :put, style: 'color:grey;' %>
                <!-- <span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> -->
              </a>
            </span>
          <% end %>
      </h2>

          <%= @establishment.address %>
          <%= @establishment.city %>
          <%= @establishment.state %>
          <%= @establishment.zipcode %> </br></br>
          
      <div class="field">
        <p>
          <strong>Keywords:</strong>
          <%= @establishment.key %>
        </p>

        <%= @establishment.total_active_deals %> active deals </br>

      </div>
    <%= link_to 'Edit', edit_establishment_path(@establishment) %> |
    <%= link_to 'Back', establishments_path %>
    </div>
</div>  


<!-- Showing all current deals -->
<div class="left-form-container">
    <div class="featurette">
      <% if @current_deals.length > 0 %>
        <h2 class="featurette-heading" style="color:red;">these are the temporary deals</h2>
        <hr>
      <% else %>
        <h2 class="featurette-heading" style="color:red;">There are no temporary deals available</h2>
      <% end %>
      <div class="field">
        <% @current_deals.each do |deal| %>
          <h4> 
            <span id="bold-large-link"><%= link_to deal.keyword, deal %></span>
            <span id="footnote-text"><%= deal.updated_at.strftime("%a. %m/%d/%y at %I:%M%p") %> </span>
          </h4>
          by <span id="bold-link"> <%= link_to deal.establishment.name, deal.establishment %> </span>
          </br>
          <%= deal.description %> </br>
          <!-- updated at: <% deal.updated_at.to_formatted_s(:long)%> -->
          Favorited by <%= deal.get_likes %> users
          <hr>
        <% end %>
      </div>
    </div>
</div>


<!-- Showing all permanent deals -->
<div class="right-form-container">
    <div class="featurette">
      <% if @permanent_deals.length > 0 %>
        <h2 class="featurette-heading" style="color:red;">these are the permanent deals</h2>
        <hr>
      <% else %>
        <h2 class="featurette-heading" style="color:red;">There are no permanent deals available</h2>
      <% end %>
      <div class="field">
        <% @permanent_deals.each do |deal| %>
          <h4> 
            <span id="bold-large-link"><%= link_to deal.keyword, deal %></span>
            <span id="footnote-text"><%= deal.updated_at.strftime("%a. %m/%d/%y at %I:%M%p") %> </span>
          </h4>
          by <span id="bold-link"> <%= link_to deal.establishment.name, deal.establishment %> </span>
          </br>
          <%= deal.description %> </br>
          <!-- updated at: <% deal.updated_at.to_formatted_s(:long)%> -->
          Favorited by <%= deal.get_likes %> users
          <hr>
        <% end %>
      </div>
    </div>
</div>


<table style="display:none;">
<th> Current Deals</th>
<th> Permanent Deals</th>
  <td>
    <tr> </tr>
  </td>
</table>
